.common-btn {
  padding: 10px 15px;
  font-size: 14px;
  background-color: darkcyan;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  &:hover {
    background-color: rgb(7, 112, 112);
  }
  &:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
}
