.header-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  padding: 20px 30px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c6d7e7;
  background-color: rgba($color: #fff, $alpha: 0.1);
  box-shadow: 0 1px 14px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  transition: all 0.2s ease-in;
  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba($color: #fff, $alpha: 0.7);
  }
  .header-actionitems {
    display: flex;
    align-items: center;
  }
}
