.logo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: darkcyan !important;
  font-weight: 700;
  font-size: 1.2em;
  cursor: pointer;
  span {
    color: orange;
    font-weight: 500;
  }
}
